@{
    Layout = "_Layout";
}

<h1>Food</h1>
<hr />
<h2>Edit Food: @Model.GetName()</h2>
<form action="/food/all/@Model.GetId()/update" method="post">
    <label for="name">Name:</label>
    <input type="text" name="newname" value="@Model.GetName()">
    <button type="submit">Edit</button>
</form>
<h4><a href="/">Return Home</a></h4>
 