@{
    Layout = "_Layout";
}

<div class="container" id="add-container">
    <h1>Enter a new Specialty!</h1>
    <form class="form" action="/specialties/new" method="post">
        <div class="form-group">
            <label for="name">Enter Specialty:</label>
            <input class="form-control" type="text" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary" name="button">Add New Specialty</button>
    </form>
</div>