@{
    Layout = "_Layout";
}
<div class='container' id="stylist-container" =>
    <h1>All Specialties</h1>
    <div class="row titles" =>
        <div class="col-md-8">
            <h4>Specialty</h4>
        </div>
        <div class="col-md-2">
            <h4>Edit</h4>
        </div>
        <div class="col-md-2">
            <h4>Delete</h4>
        </div>
    </div>
    @foreach(var specialty in Model)
    {
    <div class="row data">
        <div class="col-md-8">
            <p class="name"><a href="/specialties/@specialty.id">@specialty.name</a></p>
        </div>
        <div class="col-md-2">
            <p><a class="btn btn-warning" href="/specialties/@specialty.id/edit">Edit</a></p>
        </div>
        <div class="col-md-2">
            <form id="specialty" action="/specialties/@specialty.id/delete" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>
        </div>
    </div>
    }
    <a href="/specialties/new" class="btn btn-primary margtop">Add New Specialty</a>
    <form id="delete-all" action="/specialties/all/delete" method="post"><button type="submit" class="btn btn-danger margtop">Delete All Specialties</button></form>
</div>
