@{
    Layout = "_Layout";
}

<div class="container" id="add-container">
    <h1>Enter a new Stylist!</h1>
    <form class="form" action="/stylists/new" method="post">
        <div class="form-group">
          <label for="name">Enter the name of the Stylist:</label>
          <input type="text" name="name">
        </div>
      <button type="submit" class="btn btn-primary" name="button">Add New Stylist</button>
    </form>
</div>