@{
    Layout = "_Layout";
}

<div class="container" id="add-container">
    <h1>Enter your Category!</h1>
    <form class="form" action="/category/add" method="post">
        <div class="form-group">
          <label for="name">Enter the name of the Category:</label>
          <input type="text" name="name">
        </div>
      <button type="submit" class="btn btn-primary" name="button">Add New Category</button>
    </form>
</div>