@{
    Layout = "_Layout";
}

<div class="container" id="add-container">
    <h1>Enter a new Stylist!</h1>
    <form class="form" action="/stylists/new" method="post">
        <div class="form-group">
            <label for="name">Enter the name of the Stylist:</label>
            <input class="form-control" type="text" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Enter background information on the Stylist:</label>
            <input class="form-control" type="text" name="description" required>
        </div>
        <h3>Add Specialties for this Stylist:</h3>
        <div class="form-group">
            <label for="specialties">Choose one or more existing Specialties:</label>
            <select multiple class="form-control" name="specialties">
                @foreach(var specialty in Model)
                {
                <option value="@specialty.id">@specialty.name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="specialtyFields">(and/or) Add new Specialty:</label>
            <div id="fields"><input class="form-control" type="text" name="specialtyFields" /><br /></div>
           <button type="button" class="btn btn-info" id="btnAddField">Add another new Specialty field</button>
           <br />
        </div>
        <button type="submit" class="btn btn-primary" name="button">Add New Stylist</button>
    </form>
</div>