@{
    Layout = "_Layout";
}
<h1>Edit Stylist</h1>
<hr />
<h2>@Model["stylist"].GetName():</h2>
<form class="edit-client" action="/stylists/@Model["stylist"].GetId()/edit" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="newname" value="@Model["stylist"].GetName()" required>
    </div>
    <button class="btn btn-danger" type="submit">Save Edit</button>
</form>
<br />
<h2>@Model["stylist"].GetName()'s Current Clients:</h2>
@foreach (var client in Model["clients"])
{
    <div class="row data">
        <div class="col-md-8">
            <p class="name">@client.GetName()</p>
        </div>
        <div class="col-md-2">
            <p><a class="btn btn-danger" href="/clients/@client.GetId()/edit">Edit</a></p>
        </div>
        <div class="col-md-2">
            <form id="stylist" action="/client/@client.GetId()/delete" method="post"><button type="submit" class="btn btn-warning">Delete</button></form>
        </div>
    </div>
}
<form class="inline-block" action="/stylists/@Model["stylist"].GetId()/delete" method="post"><button type="submit" class="btn btn-warning">Delete Stylist</button></form>
