@{
    Layout = "_Layout";
}
 <div class='container' id="stylist-container"=>
        <h1>All Stylists</h1>
     
    <div class="row titles"=>
        <div class="col-md-8">
            <h4>Stylist's Name</h4>
        </div>
         <div class="col-md-2">
            <h4>Edit</h4>
        </div>
         <div class="col-md-2">
            <h4>Delete</h4>
        </div>
    </div>
        @foreach(var stylist in Model)
        {
        <div class="row data">
        <div class="col-md-8">
            <p class="name"><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></p>
        </div>
         <div class="col-md-2">
            <p><a class="btn btn-danger" href="/stylists/@stylist.GetId()/edit">Edit</a></p>
        </div>
         <div class="col-md-2">
            <form id="stylist" action="/stylists/@stylist.GetId()/delete" method="post"><button type="submit" class="btn btn-warning">Delete</button></form>
        </div>
    </div>
        }
</div>
    